{
  "Changes": [
    {
      "Action": "CREATE",
      "ResourceRecordSet": {
        "Name": "{{dns_fqdn}}",
        "Type": "A",
        "AliasTarget": {
          "DNSName": "{{execute_api_dns_name}}",
          "HostedZoneId": "{{alias_hosted_zone}}",
          "EvaluateTargetHealth": false
        }
      }
    }
  ]
}
