{
  "Changes": [
    {
      "Action": "UPSERT",
      "ResourceRecordSet": {
        "Name": "replace_dns_fqdn",
        "Type": "A",
        "AliasTarget": {
          "DNSName": "replace_execute_api_dns_name",
          "HostedZoneId": "replace_alias_hosted_zone",
          "EvaluateTargetHealth": false
        }
      }
    }
  ]
}
